[alias]
  tree = log --graph --oneline --decorate
  tr = log --graph --oneline --decorate
  btree = log --graph --oneline --decorate --simplify-by-decoration --all
  btr = log --graph --oneline --decorate --simplify-by-decoration --all
  st = status
  ci = commit
  cim = commit -m
  co = checkout
  diffs = diff --staged
  diffc = diff --cached
[init]
  templatedir = ~/.git_template
[diff]
  compactionHeuristic = true
[commit]
  verbose = true
[color]
  ui = auto
[core]
  autocrlf = false
  editor = vim
  excludesfile = ~/.gitignore_global
[include]
  path = .gitconfig_local
[push]
  default = simple
[pull]
  rebase = true
[user]
  email = momotaro.n@gmail.com
  name = momotaro
[github]
  user = momo-lab
[bitbucket]
  user = momo-lab
[pre-push]
  grep = ^\\(\\[from now\\]\\|WIP\\|\\.local\\)
